/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .aboutquote {
        border: 1px solid rgb(166, 158, 158);
        padding: 10px 86px;
        margin: 50px 0px 20px;
    }
    .icon {
        padding: 0px 0px 0px 0px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .aboutquote {
        border: 1px solid rgb(166, 158, 158);
        padding: 10px 86px;
        margin: 50px 0px 20px;
    }
    .icon {
        padding: 0px 0px 0px 408px;
        margin-top: -37px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .aboutquote {
        border: 1px solid rgb(166, 158, 158);
        padding: 10px 19px;
        margin: 50px 0px 20px;
    }
    .icon {
        padding: 12px 0px 0px 228px;
        margin: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .aboutquote {
        border: 1px solid rgb(166, 158, 158);
        padding: 10px 100px;
        margin: 50px 0px 20px;
    }
    .icon {
        padding: 12px 0px 0px 348px;
        margin: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .aboutquote {
        border: 1px solid rgb(166, 158, 158);
        padding: 10px 228px;
        margin: 50px 0px 20px;
    }
    .icon {
        padding: 12px 0px 0px 528px;
        margin: 0px;
    }
    ul {
        padding: 5px 0px 10px 10px;
    }
}